{% extends 'ElasticBundle::layout.html.twig' %}
{% block body %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <p>Bugs / Suggestions / Ideas please contact with us</p>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Contact</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="elastic-account" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-muted">
                                    Bitcointalk
                                </td>
                                <td>
                                    <a href="https://bitcointalk.org/index.php?topic=1396233.new">https://bitcointalk.org/index.php?topic=1396233.new</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    Reddit
                                </td>
                                <td>
                                    <a href="https://www.reddit.com/r/xel">https://www.reddit.com/r/xel</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    Official Website
                                </td>
                                <td>
                                    <a href="http://elastic.pro/">http://elastic.pro/</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    e-mail
                                </td>
                                <td>
                                    unvoid [dot] pl [at] gmail [dot] com
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}
{% block page_scripts %}
{% endblock %}